@inject HaveFun.Models.FormattingService Format 
@model HaveFun.Models.Post

<div class="blog-post">
    <div class="title">
        <h3>@Model.Title</h3>
        <p class="metadata">
            <span>@Format.AsReadableDate(Model.Time)</span>
            by <a class="author" href="#">@Model.Author</a>
        </p>
        <section class="body">
            @Model.Body
        </section>
    </div>
</div>
