@{
    Layout = "_Layout";
}
<h3>@ViewData["Message"]</h3>
<h3>Code Louisville</h3>
<address>
    252 E Market St<br />
   Louisville, Ky 40202<br />
    <abbr title="Phone">P:</abbr>
    <a href="tel:502-569-0391">502.569.0391</a>
</address>

<address>
    <strong>Coder:</strong> <a href="http://scuddha.com">ScottHarrett.com</a><br />
    <strong>Code Spot:</strong> <a href="http://codelouisville.org">CodeLouisville.org</a>
</address>
